// 見出し線
@mixin heading-border {
  border-bottom: 6px solid;
  border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
  border-image-slice: 1;
}

// 装飾線
.line__container {
  height: 1rem;

  .line__decorated_1_left {
    background-image: linear-gradient(to right, #cb92fa 40%, #68bde0 100%);
    position: relative;
    right: 10%;
    top: -2rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 4rem;
    width: 43rem;
  }
  .line__decorated_2_left {
    background-image: linear-gradient(to right, #68bde0 0%, #81c6e4 100%);
    position: relative;
    right: -26.5%;
    top: -8rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 0rem;
    width: 1.3rem;
  }
  .line__decorated_3_left {
    background-image: linear-gradient(to right, #81c6e4 0%, #aeedfd 100%);
    position: relative;
    right: -27.8%;
    top: -14rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 0rem;
    width: 1rem;
  }
  .line__decorated_4_left {
    background-image: linear-gradient(
      to right,
      #9dd9f3 0%,
      rgb(208, 238, 251) 100%
    );
    position: relative;
    right: -28.8%;
    top: -20rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 0rem;
    width: 8px;
  }

  .line__decorated_1_right {
    background-image: linear-gradient(to left, #cb92fa 40%, #68bde0 100%);
    position: relative;
    left: 73%;
    top: -18rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 4rem;
    width: 43rem;
  }
  .line__decorated_2_right {
    background-image: linear-gradient(to left, #68bde0 0%, #81c6e4 100%);
    position: relative;
    left: 71.6%;
    top: -24rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 0rem;
    width: 1.3rem;
  }
  .line__decorated_3_right {
    background-image: linear-gradient(to left, #81c6e4 0%, #aeedfd 100%);
    position: relative;
    left: 70.4%;
    top: -30rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 0rem;
    width: 1rem;
  }
  .line__decorated_4_right {
    background-image: linear-gradient(
      to left,
      #9dd9f3 0%,
      rgb(208, 238, 251) 100%
    );
    position: relative;
    left: 69.4%;
    top: -36rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-45deg);
    padding: 3rem 0rem;
    width: 8px;
  }
}
// 3カラム
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
// 3カラムbox
.section__container {
  margin: 0 12%;
  display: flex;
  justify-content: center;
}

.gg-shape-circle {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 3rem;
  height: 3rem;
  border: 3px solid;
  border-radius: 100px;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 3rem;
  height: 3rem;
  border: 4px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 33px;
  height: 3px;
  background: currentColor;
  transform: rotate(45deg);
  top: 8px;
  left: -7px;
}
.gg-close::after {
  transform: rotate(-45deg);
}

.gg-shape-triangle {
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 41px;
  height: 17px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid;
}
.gg-shape-triangle,
.gg-shape-triangle::before {
  display: block;
  box-sizing: border-box;
  border-right: 3px solid transparent;
}
.gg-shape-triangle::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg) skew(10deg, 10deg);
  left: 0px;
  bottom: -20px;
}

// 無料キャンペーンボタン
.campaign-btn {
  margin: 7rem auto;
  width: 65rem;
  height: 9rem;
  line-height: 9rem;
  &:last-child {
    margin-bottom: 15rem;
  }
}
.campaign-btn a {
  font-family: $font1-l;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: $light-blue;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 0.1em;
  border-radius: 2em;
}
.campaign-btn a:hover {
  opacity: 0.7;
}
