#comparison {
  table {
    border-collapse: collapse;
    line-height: 1.3;
  }

  // table tr *:nth-child(1) {
  //   background: #49c5f0;
  // }

  table tr *:nth-child(2) {
    background: #57b3e8;
  }

  table tr *:nth-child(3) {
    background: #649cdf;
  }

  table tr *:nth-child(4) {
    background: #6e87d7;
  }

  table th,
  table td {
    color: white;
    border: solid 1px white;
    text-align: center;
    padding: 0 3rem;
  }
  table th {
    padding: 0 8rem;
    font-size: 2rem;
    color: black;

    width: 35%;

    padding-bottom: 2rem;
  }
  // グラデーション
  table {
    background: linear-gradient(to bottom, #45c0f6, #fff);
    border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-image-slice: 1;
  }

  i {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.5em;
    display: block;
  }
}
