#comparison {
  h2 {
    margin-bottom: 0;
  }
  .comparison__container {
    margin: 0 1%;

    table {
      width: 77%;
      border-collapse: collapse;
      line-height: 1.3;
      font-family: $font1-r;
    }
    .first-row {
      background-color: white;
      td {
        color: black;
        font-size: 2rem;
        padding: 1rem;
      }
      .data {
        background-color: #fff;
      }
    }
    // table tr *:nth-child(1) {
    //   background: #49c5f0;
    // }

    table tr *:nth-child(2) {
      // background: #57b3e8;
    }

    //

    table tr *:nth-child(4) {
      background: #61b3f9;
    }

    table th,
    table td {
      color: white;
      border: solid 1px white;
      text-align: center;
      padding: 0 1rem;
    }
    table th {
      padding: 0 8rem;
      font-size: 2.2rem;
      color: #4d4d4d;
      width: 23%;
      font-weight: 600;
      padding-bottom: 2rem;
    }
    table td {
      width: 19%;
      padding-bottom: 2rem;
    }
    // グラデーション
    table {
      //     ０％　＃cb9bfe
      // 50％   #7CB2FE
      // 100％　＃00d6ff

      background: linear-gradient(
        to bottom,
        #11f3ffa1 0%,
        #7cb2feb3 50%,
        #cb9bfe5e 100%
      );

      border-image-slice: 1;

      .gray {
        background-color: #e6e6e6;
        color: black;
      }
      .dark-gray {
        background-color: #b3b3b3;
        color: black;
      }
    }

    i {
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 0.8em;
      display: block;
    }
  }
}
