#comparison {
  h2 {
    margin-bottom: 0;
  }
  .comparison__container {
    margin: 0 1%;

    table {
      overflow: scroll;
      width: 77%;
      border-collapse: collapse;
      line-height: 1.3;
      font-family: $font1-r;
      font-size: 1vw;
      white-space: nowrap;
    }
    .first-row {
      background-color: white;
      td {
        color: black;
        padding: 1rem;
        font-size: 2rem;
      }
      .data {
        background-color: #fff;
        img {
          position: relative;
          top: 1.8rem;
        }
      }
    }
    .circle__a {
      margin-bottom: 1em;
    }

    table tr *:nth-child(2) {
      // background: #57b3e8;
    }

    // 4カラム目
    table tr *:nth-child(4) {
      background: $light-blue2;

      font-size: 1.2vw;
    }

    table th,
    table td {
      color: white;
      border: solid 1px white;
      text-align: center;
    }
    table th {
      padding: 0 8rem;
      font-size: 2.6rem;
      color: white;
      width: 23%;
      font-weight: 600;
      padding-bottom: 2rem;
      span {
        position: relative;
        bottom: 1.5rem;
      }
    }
    table td {
      width: 19%;
      padding-bottom: 1rem;
    }
    // グラデーション
    table {
      background: linear-gradient(
        to bottom,
        #11f3ffa1 0%,
        #7cb2feb3 50%,
        #cb9bfe5e 100%
      );

      border-image-slice: 1;

      .gray {
        background-color: #e6e6e6;
        color: black;
      }
      .dark-gray {
        background-color: #c5c5c5;
        color: black;
      }
    }

    i {
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 0.8em;
      display: block;
    }
  }
}
