// 見出し線
@mixin heading-border {
  border-bottom: 6px solid;
  border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
  border-image-slice: 1;
}

// 装飾線
.line__container {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#209cff),
    to(#68e0cf)
  );
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);

  .line__decorated_1 .line__decorated_2 .line__decorated_3 .line__decorated_4 {
    background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
    // color: #fff;
    position: relative;

    // position: relative;
    right: 10%;
    top: -10rem;
    padding: 2rem 4rem;
    width: 20rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
  }
}
// 3カラム
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
// 3カラムbox
.section__container {
  margin: 0 12%;
  display: flex;
  justify-content: center;
}

.gg-shape-circle {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 3rem;
  height: 3rem;
  border: 3px solid;
  border-radius: 100px;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 3rem;
  height: 3rem;
  border: 4px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 33px;
  height: 3px;
  background: currentColor;
  transform: rotate(45deg);
  top: 8px;
  left: -7px;
}
.gg-close::after {
  transform: rotate(-45deg);
}

.gg-shape-triangle {
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 41px;
  height: 17px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid;
}
.gg-shape-triangle,
.gg-shape-triangle::before {
  display: block;
  box-sizing: border-box;
  border-right: 3px solid transparent;
}
.gg-shape-triangle::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg) skew(10deg, 10deg);
  left: 0px;
  bottom: -20px;
}

// 無料キャンペーンボタン
.campaign-btn {
  margin: 7rem auto;
  width: 70rem;
  height: 9rem;
  line-height: 9rem;
}
.campaign-btn a {
  font-family: $font1-l;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: $light-blue;
  text-align: center;
  color: #ffffff;
  font-size: 3.2rem;
  letter-spacing: 0.1em;
  border-radius: 2em;
}
.campaign-btn a:hover {
  opacity: 0.7;
}
