#contact {
  // LINE btn
  margin-top: 7rem;
  @include sm {
    margin-top: 4rem;
  }
  p {
    font-size: 1.2rem;
    font-family: $font1-r;
    @include xxs {
      font-size: 1.4rem;
    }
    @include sm {
      font-size: 2rem;
    }
    .contact__br {
      @include md {
        display: none;
      }
    }
    &:last-child {
      font-size: 1.2rem;
      letter-spacing: 0;
      @include xxs {
        font-size: 1.4rem;
        letter-spacing: 0.1em;
      }
    }
  }
  font-size: 2rem;
  .contact__btn {
    width: 20.5rem;
    height: 50px;
    line-height: 50px;
    margin: 3rem auto;
    @include xxs {
      width: 22.5rem;
    }
    @include sm {
      width: 26rem;
      margin: 2rem auto;
    }
  }
  .contact__btn a {
    font-family: $font3-b;
    display: block;

    text-decoration: none;
    background: #43ca32;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    @include sm {
      font-size: 1.6rem;
    }
  }
  .contact__btn a:hover {
    opacity: 0.7;
  }
}
