#contact {
  // LINE btn
  p {
    font-family: $font1-r;
  }
  font-size: 2rem;
  .contact__btn {
    width: 260px;
    height: 50px;
    line-height: 50px;
    margin: 2rem auto;
  }
  .contact__btn a {
    font-weight: 900;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: #43ca32;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }
  .contact__btn a:hover {
    opacity: 0.7;
  }
}
