/* A P-OTF A1ゴシック Std*/
// light
@font-face {
  font-family: "A P-OTF A1ゴシック Std light";
  src: url("../fonts/AP-OTF-A1GothicStd-Light.woff") format("woff");
}

// normal
@font-face {
  font-family: "A P-OTF A1ゴシック Std regular";
  src: url("../fonts/AP-OTF-A1GothicStd-Regular.woff") format("woff");
}

// bold
@font-face {
  font-family: "A P-OTF A1ゴシック Std";
  src: url("../fonts/AP-OTF-A1GothicStd-Bold.woff") format("woff");
}

// Medium
@font-face {
  font-family: "A P-OTF A1ゴシック Std";
  src: url("../fonts/AP-OTF-A1GothicStd-Medium.woff") format("woff");
}

/*A P-OTF 秀英にじみ角ゴ金StdN B*/
// light
@font-face {
  font-family: "A P-OTF 秀英にじみ角ゴ金StdN B";
  src: url("../fonts/A-OTF-ShueiGoKinStd-B.woff") format("woff");
}

// normal
@font-face {
  font-family: "A P-OTF 秀英にじみ角ゴ金StdN B";
  src: url("../fonts/AP-OTF-ShueiGoKinStd-L.woff") format("woff");
}

// bold
@font-face {
  font-family: "A P-OTF 秀英にじみ角ゴ金StdN B";
  src: url("../fonts/AP-OTF-ShueiGoKinStd-M.woff") format("woff");
}

/*Acumin Variable Concept*/
@font-face {
  font-family: "Acumin Variable Concept";
  src: url("../fonts/AcuminVariableConcept.woff") format("woff");
}

/*result*/
@font-face {
  font-family: "result";
  src: url("../fonts/AP-OTF-A1GothicStdN-Light.woff") format("woff");
}

@font-face {
  font-family: "result";
  src: url("../fonts/AP-OTF-A1GothicStdN-Medium.woff") format("woff");
}

@font-face {
  font-family: "result";
  src: url("../fonts/AP-OTF-A1GothicStdN-Bold.woff") format("woff");
}

@font-face {
  font-family: "result";
  src: url("../fonts/AP-OTF-A1GothicStdN-Regular.woff") format("woff");
}
