footer {
  background-image: linear-gradient(90deg, #d9bbfd, #4da1e7);
  position: relative;
  z-index: 10;
  ul {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;

    li {
      margin-right: 3rem;
      &::after {
        content: "|";
        color: white;
        margin-left: 3rem;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
      a {
        color: white;
      }
    }
  }
}
