footer {
  background-image: linear-gradient(90deg, #d9bbfd, #4da1e7);
  position: relative;
  z-index: 8;
  nav {
    display: flex;
    justify-content: center;
    @include sm {
      display: block;
    }
    ul {
      margin: auto;
      height: 11rem;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @include sm {
        padding: 0;
        flex-direction: row;

        justify-content: center;
        align-items: center;
      }
      li {
        font-family: $font1-l;
        font-size: 1.2rem;

        @include xs {
          font-size: 1.4rem;
          margin-right: 3rem;
        }
        @include sm {
          white-space: nowrap;
          margin-right: 1rem;
        }

        @include md {
          margin-right: 3rem;
        }
        &::after {
          @include sm {
            content: "|";
            color: white;
            margin-left: 1rem;
          }
          @include md {
            margin-left: 3rem;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
        a {
          color: white;
        }
      }
    }
  }
}
