footer {
  background-image: linear-gradient(90deg, #d9bbfd, #4da1e7);
  position: relative;
  z-index: 10;
  nav {
    display: flex;
    justify-content: center;
    @include sm {
      display: block;
    }
    ul {
      margin: auto;
      height: 11rem;
      padding: 1rem 0;

      @include sm {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li {
        font-family: $font1-l;
        margin-right: 3rem;
        &::after {
          @include sm {
            content: "|";
            color: white;
            margin-left: 3rem;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
        a {
          color: white;
        }
      }
    }
  }
}
