#function {
  padding: 0 1rem;
  padding-top: 8rem;

  @include sm {
    padding: 3rem 1.5rem;
    margin-top: 8rem;
    padding-top: 12rem;
  }
  margin-bottom: 0;
  background-image: linear-gradient(
    to left top,
    #f9f0d2 0%,
    #cac4ff 40%,
    #66ceeda3 100%
  );
  //   width: 100%;
  .function__header {
    margin-bottom: 4rem;
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, #f9f0d2 0%, #cac4ff 100);
    border-image-slice: 1;
    display: inline-block;
    img {
      width: 19rem;
    }
    //   height: 100%;
    h2 {
      border: none;
      margin: 0;
      position: relative;
      margin-left: 14.5rem;
      @include xxs {
        margin-left: 19rem;
      }
      &::before {
        content: url(../images/header_logo.png);
        display: inline-block;
        position: absolute;
        top: -25rem;
        left: -61rem;
        transform: scale(0.15, 0.15);
        @include xxs {
          top: -24rem;
          left: -64rem;
          transform: scale(0.2, 0.2);
        }
      }
    }
  }
  .function__container {
    line-height: 2.23rem;
    font-size: 1.45rem;
    font-family: $font1-r;
    @include sm {
      font-size: 1.6rem;
      flex-direction: column;
      margin: 0 7%;
    }
    @include md {
      margin: 0 12%;
    }
    @include lg {
      font-size: 1.8rem;
      max-width: 109rem;
      margin: 0 auto;
    }
    h3 {
      color: white;
      background-color: $light-blue;
      padding: 0.7rem 0 0.4rem;
      line-height: 1.2;
      font-size: 3vw;
      white-space: nowrap;
      @include xxs {
        font-size: 4vw;
      }
      @include sm {
        font-size: 1.6vw;
      }
      @include lg {
        font-size: 2.5rem;
      }
    }
    .column__text {
      text-align: left;
      margin: 1rem 0 0;
      @include xxs {
        margin: 2rem 0 0;
      }
      @include sm {
        margin: 2.5rem 0 0;
        margin-top: 3%;
      }
    }
    .column__text__blue {
      text-align: left;
      background-color: #dbf0fd;
      padding: 1rem 1rem;
      border-radius: 0.6em;
      margin-bottom: 2rem;
      margin-top: 2rem;

      @include sm {
        margin-top: 4%;
      }
      span {
        border-bottom: 2px solid white;
        color: $light-blue;
      }
    }
    .hashtag {
      margin-top: 24%;

      @include sm {
        padding: 2rem 11%;
        margin: 3% 0;
      }
      @include lg {
        padding: 2rem 7%;
      }

      .hashtag__br {
        display: none;
        @include lg {
          display: block;
        }
      }
    }
    // 共通box
    .box {
      background-color: #fff;
      padding: 2rem 1.5rem 1.5rem;

      margin: 2.5rem 0;
      border-radius: 0.6em;
      @include xxs {
        padding: 2rem 2.5rem 1.5rem;
      }
      @include sm {
        padding: 7% 7% 3%;
      }
      img {
        width: 65%;
        @include sm {
          width: 78%;
          padding-top: 5%;
        }
      }
      .img1 {
        @include lg {
          width: 62%;
          padding-top: 2%;
        }
      }
      .img2 {
        width: 35%;
        padding-top: 3rem;
        @include sm {
          max-width: 45%;
          padding-top: 8%;
        }
        @include lg {
          max-width: 40%;
          padding-top: 2rem;
        }
      }
      .img3 {
        width: 25%;
        padding-top: 3rem;
        @include sm {
          width: 33%;
          padding-top: 11%;
        }
        @include lg {
          padding-top: 2.3rem;
          max-width: 26%;
        }
      }
      .img4 {
        width: 76%;
        padding-top: 2rem;
        @include sm {
          width: 89%;
          padding-top: 10%;
        }
        @include lg {
          max-width: 32rem;
          padding-top: 2rem;
        }
      }
      .img5 {
        position: absolute;
        width: 28%;
        top: 47%;
        right: 12%;
        @include xxs {
          width: 27%;
          top: 46%;
          right: 4%;
        }
        @include xs {
          top: 44%;
          right: 3%;
          width: 22%;
        }
        @include sm {
          width: 15%;
          top: 35%;
          right: 0%;
        }
        @include lg {
          top: 36%;
          right: 2%;
          max-width: 13rem;
        }
      }
      .img6 {
        padding-top: 5%;
        @include sm {
          max-width: 30rem;
        }
      }
      .img7 {
        width: 28%;
        padding-top: 5%;
        @include lg {
          padding-top: 2rem;
          max-width: 10rem;
        }
      }
      .img8 {
        width: 35%;
        @include lg {
          padding-top: 2rem;
          max-width: 21rem;
        }
      }
    }
    .first-column {
      @include sm {
        display: flex;
        justify-content: space-between;
      }
      .column__left,
      .column__right {
        @include sm {
          flex-basis: 50%;
          flex: 1;
          align-items: stretch;
          height: 100%;
        }
      }

      .column__left {
        display: flex;
        flex-direction: column;
        @include sm {
          height: 107rem;
          margin-right: 2rem;
        }

        .first-box {
          margin-top: 0;
          @include sm {
            height: 68%;
            box-sizing: border-box;
          }
          @include lg {
            height: 63%;
          }
        }
        .second-box {
          height: 32%;
          @include sm {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
      .column__right {
        @include sm {
          margin-left: 2rem;
          height: 109rem;
        }
        .first-box {
          margin-top: 0;
          @include sm {
            height: 20.5%;
            box-sizing: border-box;
          }
        }
        .second-box {
          @include sm {
            height: 31%;
            box-sizing: border-box;
          }
        }
        .third-box {
          @include sm {
            height: 42%;
            box-sizing: border-box;
            margin-bottom: 0;
          }
        }
      }
    }
    .second-column {
      position: relative;
      .first-box {
        margin: 0;
        margin-bottom: 2.5rem;
        @include sm {
          padding: 4% 7% 1%;
        }
        @include lg {
          margin-bottom: 3rem;
          margin-top: 1.2rem;
        }
      }
    }
    .third-column {
      display: flex;
      flex-direction: column;
      @include sm {
        height: 77rem;
        flex-direction: row;
      }
      .first-box {
        margin-top: 0;
      }
      .column__left,
      .column__right {
        @include sm {
          width: 50%;
        }
      }
      .column__left {
        @include sm {
          margin-right: 2rem;
        }
        .first-box {
          @include sm {
            height: 46%;
            box-sizing: border-box;
          }
        }
        .second-box {
          @include sm {
            height: 46%;
          }
          box-sizing: border-box;
        }
      }
      .column__right {
        @include sm {
          margin-left: 2rem;
          font-size: 1.3rem;
        }
        @include md {
          font-size: 1.45rem;
        }
        @include lg {
          font-size: 1.6rem;
        }
        .first-box {
          @include sm {
            height: 95.3%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.btn2 {
  padding: 2rem 0 8rem;
  margin: 0;
  @include sm {
    padding: 0;
    margin: 2rem auto;
  }
}
