header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  z-index: 12;
  width: 100%;
  height: 10rem;
  background-color: #fff;
  @include sm {
    overflow: scroll;
  }
  img {
    width: 50%;
    @include xs {
      max-height: 10rem;
      width: auto;
    }
    @include sm {
      margin-left: 10%;
      margin-right: 5%;
      min-width: 22rem;
    }
    @include md {
    }
    @include lg {
      margin-left: 25%;
      // width: 22rem;
    }
  }
  .pc {
    display: none;
    @include sm {
      display: block;
      margin-right: 3%;
      margin-left: 10%;

      .nav__menu {
        display: flex;
        li {
          margin: 4.5rem 2rem;
          margin-bottom: 0;
          font-family: $font1-r;
          font-weight: 400;
          white-space: nowrap;
          letter-spacing: -0.1px;
          &:last-child {
            margin-right: 3%;
          }
          a {
            position: relative;
            color: black;
            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }
          .a__border {
            &::after {
              content: "";
              display: block;
              height: 1px;
              width: 100%;
              border-bottom: 5px solid;
              border-image: linear-gradient(
                to right,
                #cb9bfe 10%,
                #04a3ff 80%,
                #003cffbb 100%
              );
              border-image-slice: 1;
              position: absolute;
              bottom: -50%;
              left: 0%;
              transform: scale(0, 1);
              transition: 0.3s;
            }
            &:hover {
              &::after {
                transform: scale(1, 1);
              }
            }
          }
        }
        // button
        .btn {
          width: 25.5rem;
          height: 5rem;
          line-height: 5rem;
          margin-top: 3rem;
          font-size: 1.5rem;
        }
        .btn a {
          font-family: $font1-l;
          display: inline-block;
          width: 100%;
          height: 100%;
          font-weight: 400;
          background: #0099ff;
          text-align: center;
          color: #ffffff;
          border-radius: 5em;
        }
        .btn a:hover {
          opacity: 0.7;
        }
      }
    }
    @include lg {
      margin-left: 0;
    }
  }
  .active {
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      border-bottom: 5px solid;
      border-image: linear-gradient(
        to right,
        #cb9bfe 10%,
        #04a3ff 80%,
        #003cffbb 100%
      );
      border-image-slice: 1;
      position: absolute;
      bottom: -50%;
      left: 0%;
      transform: scale(1, 1);
      transition: 0.3s;
    }
  }
  #hamburger {
    @include sm {
      display: none;
    }
    span {
      padding-left: 1.25vw;
      right: 1.3rem;
      position: absolute; /*親要素である#hamburgerを基準に位置を指定*/
      width: 30px;
      height: 1px; /*横線の高さが4px*/
      background-color: $light-blue2; /*横線を白色*/
      transition: ease 0.5s; /*変化の時間（easeは初期値）*/
      @include xxs {
        width: 40px; /*横線の幅が30px*/
        right: 2.5rem;
      }
      &:nth-of-type(1) {
        top: 29px;
      }
      &:nth-of-type(2) {
        top: 39px;
        @include xxs {
          top: 42px;
        }
      }
      &:nth-of-type(3) {
        top: 49px;
        @include xxs {
          top: 55px;
        }
      }
    }
  }
  // ハンバーガークリック後
  .close span:nth-of-type(1) {
    transform: rotate(45deg); /*反時計回りに45度回転*/
    top: 43px !important;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
    transform: rotate(-45deg); /*時計回りに45度回転*/
    top: 43px !important;
  }
  // スマホメニュー
  .sm {
    font-size: 1.4rem;
    color: white;
    top: 10rem; /*headerの余白分*/
    left: 0px; /*headerの余白分　ヘッダーには左右に15px余白があるので、headerの子要素となる.smは15px分内側に設置されます。その余白を埋めるために左に寄せる。*/
    position: absolute; /*絶対配置　top　leftからの位置を絶対配置する*/
    z-index: 10;
    width: 100%;
    height: 100vh;

    display: none;
    text-align: center; /*メニューリストの文字を中央寄せ*/
    background-color: $light-blue2; /*透明の背景*/
    @include sm {
      display: none;
    }
    li {
      margin: 4.5rem 2rem;
      margin-bottom: 0;
      font-family: $font1-r;
      font-weight: 400;
      white-space: nowrap;
      letter-spacing: -0.1px;
      &:last-child {
        margin-right: 3%;
      }
      a {
        color: white;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .btn {
      width: 23.5rem;
      height: 5rem;
      line-height: 5rem;
      // margin-top: 3rem;
      font-size: 1.5rem;
      margin: 3rem auto;
      @include xxs {
      }
      a {
        font-family: $font1-l;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-weight: 400;
        background: white;
        text-align: center;
        color: $light-blue2;
        border-radius: 5em;
      }
    }
  }
  .sp {
    @include sm {
      display: none;
    }
  }
}
