#introduce {
  .mainvisual {
    background-image: url(../images/mainvisual.jpg);
    background-size: cover;
  }
  .intro__outer {
    display: flex;
    margin: 0 8%;
    justify-content: space-around;
    padding-top: 5rem;
    font-size: 5rem;
    font-family: $font1;
    .intro__box__left {
      p {
        font-size: 2.5rem;
        display: inline-block;
        border-bottom: 2px solid black;
        margin-bottom: 3rem;
      }
      .text__blue {
        color: $light-blue;
      }
      div {
        line-height: 100px;

        &:first-of-type {
          color: rgb(56, 123, 246);
        }
      }
    }
    .intro__box__right {
      height: 70rem;
      max-width: 33rem;
      img {
        width: 100%;
        height: 78%;
      }
    }
  }
  #problem {
    font-size: 4rem;
    margin-top: 12rem;
    .problem__container {
      margin: 0;
    }
    .column-box {
      display: flex;
      .text-box {
        p {
          font-size: 1.8rem;
          text-align: center;
          max-height: 12rem;
          padding: 2rem 1.5rem;
          margin-bottom: 12rem;
          font-weight: 500;
          border-style: Solid;
          border-color: $light-blue;
          border-width: 3px;
          border-radius: 23px;
        }
      }
      .box__left {
        min-width: 38rem;
        p {
          &:first-child {
            padding: 2.5rem 1.5rem;
          }
        }
      }
    }
    .box__middle {
      height: 44rem;
      width: 24rem;
      margin: auto 2%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .box__right {
      min-width: 48rem;
      p {
        &:last-child {
          padding: 2.5rem 1.5rem;
        }
      }
    }
  }
  #solution {
    line-height: 2;
    letter-spacing: -1px;
    .solution__heading__logo {
      position: relative;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50rem;
      img {
        top: -20%;
        left: 29%;
        position: absolute;
        width: 26rem;
      }
      div {
        font-size: 2.5rem;
        border: none;
        margin-bottom: 0;
        margin-right: 11rem;
      }
    }

    .solution__text {
      font-size: 1.8rem;
      margin-top: 9rem;
      p {
        &:last-child {
          font-size: 2.5rem;
          display: inline;
          background: linear-gradient(transparent 60%, rgb(137, 212, 250) 60%);
        }
      }
      span {
        color: $light-blue;
      }
    }

    .card__container {
      margin: 3rem auto 0;
      display: block;
      display: -webkit-box;
      .solve-card {
        display: block;
        margin: 1%;
        width: 37rem;
        height: 37rem;
        border-radius: 50%;
        font-size: 1.4rem;
        padding: 1rem;
        line-height: 1.8;

        // 円　枠色
        background: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
        position: relative;
        z-index: 1;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          box-sizing: border-box;
          border-radius: 50%;
          padding: 4px;
          width: 100%;
          height: 100%;
          background: #fff;
          background-clip: content-box;
          content: "";
        }

        .card__title {
          margin-top: 3.8rem;
          color: $light-blue;
          font-size: 2.4rem;
          line-height: 1.4;
        }
        .card__content {
          margin-top: 1.6rem;
          line-height: 1.7;
        }
        img {
          &:first-child {
            margin-top: 4rem;
          }
          width: 9rem;
          margin-top: 2rem;
          height: 9rem;
        }
        .card__img2 {
          margin-top: 1.2rem;
          width: 8rem;

          height: 9rem;
        }
      }
    }
  }
  .step {
    margin-top: 10rem;
    margin-bottom: 1rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      span {
        font-size: 5rem;
        font-family: $font5;
        font-weight: bold;
        color: $light-blue;
      }
    }
    .step__container {
      margin-top: 5rem;

      .step-card {
        border-right: 2px solid;
        border-image: linear-gradient(to bottom, #9cdefb 0%, #ecdaff 100%);
        border-image-slice: 1;
        max-width: 24%;
        padding: 3rem;
        padding-bottom: 0;
        display: inline-block;
        min-width: 25rem;
        height: 48rem;
        &:last-child {
          border: none;
        }
        p {
          line-height: 1.2d;
          font-size: 4rem;

          background: -webkit-linear-gradient(
            0deg,
            #cb9bfe 0%,
            #9cdefb
          ); //背景色にグラデーションを指定
          -webkit-background-clip: text; //テキストでくり抜く
          -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
          span {
            font-family: $font2;
            font-size: 8rem;
            margin-left: 1.5rem;
          }
        }
        div {
          font-size: 1.4rem;
          margin-bottom: 5rem;
        }
        .card__text {
          div {
            letter-spacing: -0.3px;
          }
        }
        img {
          max-width: 90%;
          max-height: 58%;
        }
        .step__img {
          min-height: 55%;
        }
      }
    }
  }
}
