html {
  font-size: 62.5%;
}
main {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
// セクション見出し
h2 {
  font-size: 3rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 5rem;
  @include heading-border;
  span {
    color: $section-title;
    font-weight: bold;
    font-size: 3.5rem;
  }
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

section {
  padding: 3rem 1.5rem;
  margin-top: 4rem;
  text-align: center;
  margin: 3rem auto;
}
