#plan {
  padding-top: 6rem;
  padding-bottom: 7rem;
  margin-top: 0;
  background-color: #e6e6e6;
  h2 {
    span {
      font-family: $font3;
      font-size: 5rem;
      line-height: 0.8;
      color: $light-blue;
    }
  }
  .plan__container {
    margin: 0 9.5%;
    margin-top: 3rem;

    .plan-card {
      color: $section-title;
      height: 37rem;
      font-size: 1.4rem;
      font-family: $font1-r;
      padding: 1.4rem 1rem 3.4rem;
      padding-top: 2rem;
      margin: 0 3%;
      min-width: 24%;
      background-color: #fff;
      border: 1px solid $section-title;
      border-radius: 0.8em;
      box-shadow: 5px 5px 6px 1px #c5c5c5;
      &:nth-child(2) {
        //2個目のcard
        color: white;
        background-color: $section-title;
        p {
          color: $section-title;
          background-color: #fff;
        }
      }
      &:last-child {
        padding: 1.4rem 0.6rem 3.4rem;
      }
      p {
        border: 1px solid;
        border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
        border-image-slice: 1;
        padding: 4px 6.2rem;
        border-radius: 0.3em;
        font-family: $font1-m;
      }

      .plan-card__title {
        margin-top: 1.5rem;
        font-size: 1.8rem;
      }
      .card__title__last {
        margin-top: 4.7rem;
      }
      .plan-card__price {
        font-size: 2rem;
        margin: 1rem 0 2rem;
        line-height: 1;
        letter-spacing: 0.01em;
        span {
          font-family: $font3-r;
          font-size: 4rem;
        }
      }
      .third-price {
        font-size: 2rem;
      }
      .card__detail {
        height: 20rem;
        ul {
          height: 15rem;
          font-family: $font1-r;
          font-size: 1.2rem;
          list-style: none;
          text-align: left;
          padding: 0 2rem;
        }
      }

      .plan__btn {
        height: 20px;
        margin-bottom: 1.2rem;
      }
      .plan__btn a {
        display: block;
        padding: 0.8rem 4rem;
        height: 100%;
        text-decoration: none;
        background: $light-blue2;
        text-align: center;
        color: #ffffff;
        font-size: 1.8rem;
        line-height: 1.2;
        border-radius: 0.4em;
        font-family: $font1-m;
      }
      .middle-btn {
        a {
          color: $light-blue2;
          background-color: white;
        }
      }
      .plan__btn a:hover {
        opacity: 0.7;
      }
    }
  }
}
