#result {
  margin-top: 3.5rem;
  @include sm {
    margin-top: 0;
    padding-top: 0;
  }
  .divider {
    //  区切り
    margin: 5rem;
  }
  .result__container {
    flex-direction: column;
    margin: 0;
    @include sm {
      margin: 0 8%;
    }
    .border-box {
      background: linear-gradient(+45deg, #4bc8fd, #dfc5fb);
      padding: 0.2rem;
      border-radius: 30px;
      @include sm {
        padding: 0.5rem;
      }
      // common box
      .result__box {
        background: #fff;
        border-radius: 28px;
        padding: 1.6rem;
        font-family: $font1;
        @include sm {
          display: flex;
          justify-content: center;
        }
        .result__box__text {
          background-image: url(../images/result/result2.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position-x: 40%;
          margin: 0rem 3rem;
          padding: 5% 0;
          font-size: 4vw;
          text-align: left;
          line-height: 1.4;
          font-family: $font1-l;
          white-space: nowrap;
          @include sm {
            font-size: 1.5vw;
            margin: 3rem 3rem;
          }
          &:nth-child(2) {
            background-image: url(../images/result/result1.png);
          }

          .box__title {
            font-size: 4vw;
            @include sm {
              font-size: 2vw;
            }
            font-weight: 100;
            margin-bottom: 1rem;
          }
          span {
            color: $light-blue;
            font-size: 6.5vw;
            font-family: $font4;
            @include sm {
              font-size: 2vw;
            }
          }
          .text__emphasis {
            display: inline;
            background-image: linear-gradient(
              to right,
              #f9f0d2 0%,
              #e6e5fb 40%,
              #7ed7f1a3 100%
            );
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 97% 31%;
            padding-bottom: 0.2em;

            @include sm {
              padding-bottom: 0.4em;
              background-size: 100% 60%;
            }
            span {
              font-size: 6.5vw;
              @include sm {
                font-size: 3vw;
              }
            }
          }
        }
      }
    }
    .result-box__text__br {
      @include sm {
        display: none;
      }
    }
    img {
      max-width: 100%;
      margin: 1rem 0;
      @include sm {
        max-width: 40%;
        margin: 5rem;
      }
    }
    .flight__box {
      p {
        &:nth-child(3) {
          border-bottom: 6px solid;
          border: 1px black;
        }
      }
    }
    .restaurant__box {
      display: flex;
      flex-direction: column-reverse;
      @include sm {
        flex-direction: row;
      }
      p {
        &:nth-child(3) {
          border-bottom: 6px solid;
          border: 1px black;
          span {
            font-size: 3rem;
          }
        }
      }
    }
    .campaign-btn {
      margin-top: 22rem;
      margin-bottom: 5rem;
    }
  }
}
