// color
$light-blue: #479ef7;
$light-blue2: #61b3f9;

// font-family
$font1: "A P-OTF A1ゴシック Std bold";
$font1-m: "A P-OTF A1ゴシック Std medium";
$font1-r: "A P-OTF A1ゴシック Std regular";
$font1-l: "A P-OTF A1ゴシック Std light";
$font2: "Acumin Variable Concept";
$font3: "小塚ゴシック Pr6N";
$font3-b: "小塚ゴシック";
$font3-r: "小塚ゴシック Regular";
$font4: "A P-OTF 秀英にじみ角ゴ金StdN B";
$font5: "result";
// レスポンシブ
$xxs: 360px;
$xs: 400px;
$sm: 768px;
$lg: 1233px;

@mixin xxs {
  @media (min-width: ($xxs)) {
    @content;
  }
}
@mixin xs {
  @media (min-width: ($xs)) {
    @content;
  }
}
@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}
// @mixin md {
//   @media (min-width: ($md)) {
//     @content;
//   }
// }
@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
