// color
$light-blue: #479ef7;
$purple: #ccccff;
$section-title: cornflowerblue;

// font-family
$font1: "A P-OTF A1ゴシック Std";
$font2: "Acumin Variable Concept";
$font3: "小塚ゴシック Pr6N";
$font4: "A P-OTF 秀英にじみ角ゴ金StdN B";
$font5: "result";

// レスポンシブ
$xxs: 360px;
$xs: 400px;
$sm: 768px;
$md: 960px;
$lg: 1233px;

@mixin xxs {
  @media (min-width: ($xxs)) {
    @content;
  }
}
@mixin xs {
  @media (min-width: ($xs)) {
    @content;
  }
}
@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
