@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.line__decorated {
  position: relative;
  right: 0;
  padding: 2rem 14rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__container {
  margin: 0 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gg-shape-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 3rem;
  height: 3rem;
  border: 2px solid;
  border-radius: 100px;
}

.gg-close {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 3rem;
  height: 3rem;
  border: 2px solid transparent;
  border-radius: 40px;
}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 2px;
  background: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.gg-shape-triangle {
  position: relative;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 22px;
  height: 17px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid;
}

.gg-shape-triangle,
.gg-shape-triangle::before {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 3px solid transparent;
}

.gg-shape-triangle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg) skew(10deg, 10deg);
          transform: rotate(45deg) skew(10deg, 10deg);
  left: -2px;
  bottom: -13px;
}

.campaign-btn {
  margin: 7rem auto;
  width: 50rem;
  height: 7rem;
  line-height: 7rem;
}

.campaign-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: #0099ff;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 0.3em;
  border-radius: 39px;
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
}

.campaign-btn a:hover {
  background: #0099ff;
  color: #e1e1e1;
  margin-left: 0px;
  margin-top: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html {
  font-size: 62.5%;
}

main {
  font-family: A P-OTF A1ゴシック Std;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 5rem;
  border-bottom: 6px solid;
  -o-border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#cb9bfe), to(#9cdefb));
     border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
  border-image-slice: 1;
}

h2 span {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  padding: 3rem 1.5rem;
  margin-top: 4rem;
  text-align: center;
  margin: 3rem auto;
}

.bg-text {
  position: absolute;
  margin-top: 2.6rem;
  color: #f7f7f7;
  font-size: 15vw;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .bg-text {
    font-size: 9.6rem;
  }
}

@media (min-width: 960px) {
  .bg-text {
    font-size: 14rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

header img {
  margin-left: 5%;
  width: 22.5rem;
  height: 9rem;
}

header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav__menu li {
  margin: 4rem 2rem;
  margin-bottom: 0;
  font-family: A P-OTF A1ゴシック Std;
  font-weight: 400;
}

header .nav__menu li:last-child {
  margin-right: 3%;
}

header .nav__menu .btn {
  width: 27.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  margin-top: 4rem;
}

header .nav__menu .btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  background: #0099ff;
  text-align: center;
  color: #ffffff;
  border-radius: 5em;
}

header .nav__menu .btn a:hover {
  opacity: 0.7;
}

#introduce .mainvisual {
  background-image: url(../images/mainvisual.jpg);
  background-size: cover;
}

#introduce .intro__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5rem;
  font-size: 5rem;
  font-family: A P-OTF A1ゴシック Std;
}

#introduce .intro__outer .intro__box__left p {
  font-size: 3rem;
  display: inline-block;
  border-bottom: 2px solid black;
  margin-bottom: 4.5rem;
}

#introduce .intro__outer .intro__box__left div {
  line-height: 100px;
}

#introduce .intro__outer .intro__box__left div:first-of-type {
  color: #387bf6;
}

#introduce .intro__outer .intro__box__right {
  height: 70rem;
  max-width: 33rem;
}

#introduce .intro__outer .intro__box__right img {
  width: 100%;
  height: 100%;
}

#introduce #problem {
  font-size: 4rem;
  margin-top: 12rem;
}

#introduce #problem .problem__container {
  margin: 0;
}

#introduce #problem .column-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#introduce #problem .column-box .text-box {
  min-width: 29rem;
}

#introduce #problem .column-box .text-box p {
  font-size: 1.4rem;
  text-align: center;
  max-height: 12rem;
  padding: 2rem 1.5rem;
  margin-bottom: 12rem;
  border-style: Solid;
  border-color: #479ef7;
  border-width: 3px;
  border-radius: 23px;
}

#introduce #problem .column-box .box__left p:first-child {
  padding: 2.5rem 1.5rem;
}

#introduce #problem .box__middle {
  height: 44rem;
  width: 24rem;
  margin: auto 2%;
}

#introduce #problem .box__middle img {
  width: 100%;
  height: 100%;
}

#introduce #problem .box__right {
  min-width: 35rem;
}

#introduce #problem .box__right p:last-child {
  padding: 2.5rem 1.5rem;
}

#introduce #solution {
  line-height: 2;
}

#introduce #solution .solution__heading__logo {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#introduce #solution .solution__heading__logo img {
  top: -20%;
  left: 61rem;
  position: absolute;
  width: 26rem;
}

#introduce #solution .solution__heading__logo h2 {
  border: none;
  margin-bottom: 0;
  margin-right: 3rem;
}

#introduce #solution .solution__text {
  font-size: 1.8rem;
  margin-top: 9rem;
}

#introduce #solution .solution__text p:last-child {
  display: inline;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #6cf));
  background: linear-gradient(transparent 60%, #6cf 60%);
}

#introduce #solution .solution__text span {
  color: #479ef7;
}

#introduce #solution .card__container {
  margin: 3rem auto 0;
  display: block;
  display: -webkit-box;
}

#introduce #solution .card__container .solve-card {
  margin: 1%;
  width: 39rem;
  height: 39rem;
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 1rem;
  line-height: 1.8;
  background: -webkit-gradient(linear, left top, right top, from(#cb9bfe), to(#9cdefb));
  background: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
  position: relative;
  z-index: 1;
}

#introduce #solution .card__container .solve-card::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  padding: 2px;
  width: 100%;
  height: 100%;
  background: #fff;
  background-clip: content-box;
  content: "";
}

#introduce #solution .card__container .solve-card .card__title {
  margin-top: 2rem;
  color: #479ef7;
  font-size: 2rem;
}

#introduce #solution .card__container .solve-card img {
  width: 8rem;
  height: 8rem;
}

#introduce .step {
  margin-top: 10rem;
}

#introduce .step h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#introduce .step h2 span {
  font-size: 5rem;
  font-weight: 500;
  color: #479ef7;
}

#introduce .step .step__container {
  margin-top: 5rem;
}

#introduce .step .step__container .step-card {
  border-right: 1px solid;
  -o-border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#cb9bfe), to(#9cdefb));
     border-image: linear-gradient(to right, #cb9bfe 0%, #9cdefb 100%);
  border-image-slice: 1;
  max-width: 24%;
  padding: 3rem;
  padding-bottom: 0;
  display: inline-block;
  min-width: 25rem;
  height: 48rem;
}

#introduce .step .step__container .step-card:last-child {
  border: none;
}

#introduce .step .step__container .step-card p {
  line-height: 1.2d;
  font-size: 4rem;
  background: -webkit-linear-gradient(0deg, #cb9bfe 0%, #9cdefb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#introduce .step .step__container .step-card p span {
  font-family: Acumin Variable Concept;
  font-size: 8rem;
  margin-left: 1.5rem;
}

#introduce .step .step__container .step-card div {
  font-size: 1.4rem;
  margin-bottom: 5rem;
}

#introduce .step .step__container .step-card img {
  max-width: 90%;
  max-height: 58%;
}

#function {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(20%, #b5eef0), color-stop(70%, #d4acfb));
  background-image: linear-gradient(to right bottom, #b5eef0 20%, #d4acfb 70%);
}

#plan {
  background-color: rgba(255, 255, 255, 0.671);
}

#plan .plan__container {
  margin-top: 5rem;
}

#plan .plan__container .plan-card {
  color: cornflowerblue;
  font-size: 1.4rem;
  padding: 1.4rem 1rem;
  padding-top: 2rem;
  margin: auto;
  min-width: 24%;
  background-color: #fff;
  border: 1px solid cornflowerblue;
  border-radius: 3%;
}

#plan .plan__container .plan-card:nth-child(2) {
  color: white;
  background-color: cornflowerblue;
}

#plan .plan__container .plan-card:nth-child(2) p {
  border-radius: 3%;
  color: cornflowerblue;
  background-color: #fff;
}

#plan .plan__container .plan-card p {
  border: solid 1px cornflowerblue;
  padding: 4px 4rem;
  border-radius: 3%;
}

#plan .plan__container .plan-card .plan-card__title {
  margin-top: 1rem;
}

#plan .plan__container .plan-card .plan-card__price {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#plan .plan__container .plan-card .plan-card__price span {
  font-size: 3rem;
}

#plan .plan__container .plan-card ul {
  height: 15rem;
  font-size: 1rem;
  list-style: none;
  text-align: left;
}

#comparison table {
  border-collapse: collapse;
  line-height: 1.3;
}

#comparison table tr *:nth-child(2) {
  background: #57b3e8;
}

#comparison table tr *:nth-child(3) {
  background: #649cdf;
}

#comparison table tr *:nth-child(4) {
  background: #6e87d7;
}

#comparison table th,
#comparison table td {
  color: white;
  border: solid 1px white;
  text-align: center;
  padding: 0 3rem;
}

#comparison table th {
  padding: 0 8rem;
  font-size: 2rem;
  color: black;
  width: 35%;
  padding-bottom: 2rem;
}

#comparison table {
  background: -webkit-gradient(linear, left top, left bottom, from(#45c0f6), to(#fff));
  background: linear-gradient(to bottom, #45c0f6, #fff);
  -o-border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
     border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-image-slice: 1;
}

#comparison i {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 0.5em;
  display: block;
}

#result {
  margin: 0 5rem;
}

#result .result__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid cornflowerblue;
  border-radius: 2em;
}

#result .result__box .result__box__text {
  padding: 5% 5rem;
  font-size: 1.4rem;
  text-align: left;
  line-height: 2;
}

#result .result__box .result__box__text .box__title {
  font-size: 2.5rem;
  font-weight: 600;
}

#result .result__box .result__box__text span {
  color: cornflowerblue;
  font-size: 1.8rem;
}

#result img {
  max-width: 50%;
}

#result .flight__box {
  margin-bottom: 5rem;
}

#result .flight__box p:nth-child(3) {
  border-bottom: 6px solid;
  border: 1px black;
}

#result .flight__box p:nth-child(3) span {
  font-size: 3rem;
}

#result .restaurant__box p:nth-child(3) {
  border-bottom: 6px solid;
  border: 1px black;
}

#result .restaurant__box p:nth-child(3) span {
  font-size: 3rem;
}

#faq {
  font-size: 1.4rem;
  padding-top: 3rem;
  background-color: #dff2ff;
  /* 二本の横棒を作成する */
  /* 2本の横棒のうち一本は縦棒にする */
  /*
   プラスがクリックされたら縦棒を横にしてマイナスにする疑似要素
   jQueryで付け外しを行う
   */
}

#faq .faq__container {
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#faq .faq__container .faq__box {
  border-top: 1px solid gray;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#faq .faq__container .faq__box .box__icon {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ffffff;
  border: cornflowerblue solid 1px;
  border-radius: 50%;
  display: inline-block;
}

#faq .faq__container .faq__box .box__common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#faq .faq__container .faq__box .box__common .box__common__text {
  margin: auto 0;
  margin-left: 3rem;
  max-width: 88%;
}

#faq .faq__container .faq__box .box__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#faq .faq__container .faq__box .box__answer {
  margin-top: 3rem;
}

#faq .faq__container .faq__box .box__answer .box__text__a {
  margin-top: 1.5rem;
}

#faq .qa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#faq .qa-list dl {
  position: relative;
  cursor: pointer;
}

#faq .qa-list dl:last-child {
  border-bottom: 1px solid #000;
}

#faq .qa-list dl::before,
#faq .qa-list dl::after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  border-radius: 5px;
  background: cornflowerblue;
  position: absolute;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#faq .qa-list dl::after {
  background: cornflowerblue;
  /* 横棒を縦にするために90℃回転させる */
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#faq .qa-list dl::after:active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#faq .active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#faq .qa-list dl dd p {
  margin: 30px 0 0;
}

#faq .qa-list dl dd p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  #faq .qa-list dl {
    position: relative;
    padding: 15px 40px 15px 10px;
  }
  #faq .qa-list dl::before {
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
  }
  #faq .qa-list dl dt {
    padding: 0 0 0 30px;
    font-size: 14px;
  }
  #faq .qa-list dl dd {
    margin: 10px 0 0;
    padding: 0 0 0 30px;
    font-size: 14px;
  }
  #faq .qa-list dl dd p {
    margin: 30px 0 0;
  }
  #faq .qa-list dl dd p:first-child {
    margin-top: 0;
  }
}

#faq .btn {
  width: 500px;
  height: 80px;
  line-height: 80px;
}

#faq .btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: #0099ff;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border-radius: 39px;
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
}

#faq .btn a:hover {
  background: #0099ff;
  color: #e1e1e1;
  margin-left: 0px;
  margin-top: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact {
  letter-spacing: 0.15em;
}

#contact .contact__btn {
  width: 260px;
  height: 50px;
  line-height: 50px;
  margin: 2rem auto;
}

#contact .contact__btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: #43ca32;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

#contact .contact__btn a:hover {
  opacity: 0.7;
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#fdbbcb), to(#8d8be2));
  background-image: linear-gradient(90deg, #fdbbcb, #8d8be2);
}

footer ul {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11rem;
}

footer ul li {
  margin-right: 3rem;
}

footer ul li::after {
  content: "|";
  color: white;
  margin-left: 3rem;
}

footer ul li:last-child::after {
  display: none;
}

footer ul li a {
  color: white;
}
/*# sourceMappingURL=main.css.map */